body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/***********************
/* navigation styles
***********************/

#navigation {
	background-color: #191414;
	height: 70px;
	padding-top: 1%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 115%;
}

#navigation a {
	color: #FFFFFF;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/***********************
/* modal and form styles
***********************/

#login, #register {
	margin-top: 50px;
	padding: 0 50%;
	margin-left: 20vw;
}

#update {
	margin-top: 50px;
	padding: 0 40%;
}

.modal-content {
	width: 60%;
}




/***********************
/* main container styles
***********************/

#top {
	margin-top: 70px;
	background-color: #F8F8F8;
}

.jumbotron span {
	color: #B00000;
}

#go {
	background-color: #1DB954;
}

li {
	list-style: none;
}

#text {
	padding: 0 20%;
}

/***********************
/* result styles
***********************/

i {
	color: #B00000;
}

#edit {
	color: #2C6FAE;
}


/***********************
/* footer styles
***********************/

#footer {
  background-color: #f9f9f9;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 30px;
  font-weight: bold;
  margin-top: 15%;
  text-align: center;
}

#footer span {
	color: #B00000;
}

#footer a {
	color: #191414;
}
