
<div ng-if="ctrl.showProfile">

  <div id='top' class="jumbotron">
    <div class="container-fluid text-center" id="jumbo-dialog">
      <h1>Songs</h1>

<!-- 
    <div class="">
      <p><a ng-click=ctrl.goUpdate() class="btn btn-success btn-sm" id='update-user-button' role="button">Update User</a></p>
    </div>

    <div class="">
      <p><a ng-click=ctrl.deleteUser() class="btn btn-success btn-sm" id='delete-user-button' role="button">Delete User</a></p>
    </div> -->

    </div>
  </div>
<!-- user's songs -->
<div class="col-md-8 col-md-offset-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th>Song</th>
        <th>Artist</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in ctrl.userSongs">
        <td>{{ $index + 1}}</td>
        <td><img src="{{ song.image }}"></td>
        <td>{{ song.name }}</td>
        <td>{{ song.artist }}</td>
        <td><a href="#"><i class="fa fa-times" title="Remove from My Songs" aria-hidden="true"></i></a></td>
        
      </tr>
    </tbody>
  </table>
</div>


</div>













